* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #010165;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #00ffff;
    text-align: center;
}

.door-frame {
    cursor: pointer;
    padding: 10px;
}